.App {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background-color: var(--window-background-color);
    overflow-y: auto;
}

main {
    margin: 16px;
    padding: 48px 32px 48px 32px;
    box-sizing: border-box;
    max-width: 400px;
    background-color: var(--surface-background-color);
    border-radius: 32px;
}

#modal {
    padding: 16px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--overlay-background-color);
    z-index: 10;
}

#modal:empty {
    display: none;
}

#modal > div {
    max-width: 500px;
    max-height: 90vh;
    background-color: var(--surface-background-color);
    border-radius: 16px;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555555;
}